<h3>商品詳細</h3>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= attachment_image_tag @item, :image %>
    </div>
    <div class="col-md-9">
      <p>商品名<%= @item.name %></p>
      <p>商品説明<%= @item.introduction %></p>
      <p>ジャンル</p>
      <p>税込価格<%= @item.price %></p>
      <p>販売ステータス<%= @item.is_active %></p>
      <%= link_to "編集する", edit_item_path(item.id), btn btn-success %>
    </div>
  </div>
</div>
